<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControllerClasificacion</servlet-name>
        <servlet-class>com.pe.controller.ControllerClasificacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerdatosModal</servlet-name>
        <servlet-class>com.pe.controller.ControllerdatosModal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.pe.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteController</servlet-name>
        <servlet-class>com.pe.controller.ClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoController</servlet-name>
        <servlet-class>com.pe.controller.ProductoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionarVentaController</servlet-name>
        <servlet-class>com.pe.gatasygatos.controller.GestionarVentaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransporteController</servlet-name>
        <servlet-class>com.pe.controller.TransporteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacturaventaController</servlet-name>
        <servlet-class>com.pe.controller.FacturaventaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarRuc</servlet-name>
        <servlet-class>com.pe.controller.ValidarRuc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnidadmedidaController</servlet-name>
        <servlet-class>com.pe.controller.UnidadmedidaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriaController</servlet-name>
        <servlet-class>com.pe.controller.CategoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubcategoriaController</servlet-name>
        <servlet-class>com.pe.controller.SubcategoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotadeIngresoController</servlet-name>
        <servlet-class>com.pe.controller.NotadeIngresoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProveedorController</servlet-name>
        <servlet-class>com.pe.controller.ProveedorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotadeSalidaController</servlet-name>
        <servlet-class>com.pe.controller.NotadeSalidaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdenCompraController</servlet-name>
        <servlet-class>com.pe.controller.OrdenCompraController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefNotadeIngresoController</servlet-name>
        <servlet-class>com.pe.controller.RefNotadeIngresoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefRequerimientoaOCController</servlet-name>
        <servlet-class>com.pe.controller.RefRequerimientoaOCController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefFacturaCompraController</servlet-name>
        <servlet-class>com.pe.controller.RefFacturaCompraController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetallePDFController</servlet-name>
        <servlet-class>com.pe.controller.DetallePDFController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteitemOC</servlet-name>
        <servlet-class>com.pe.controller.DeleteitemOC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteitemNI</servlet-name>
        <servlet-class>com.pe.controller.DeleteitemNI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteitemNS</servlet-name>
        <servlet-class>com.pe.controller.DeleteitemNS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteitemREFGR</servlet-name>
        <servlet-class>com.pe.controller.DeleteitemREFGR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>com.pe.controller.UsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpleadoController</servlet-name>
        <servlet-class>com.pe.controller.EmpleadoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteitemREFNI</servlet-name>
        <servlet-class>com.pe.controller.DeleteitemREFNI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuiaRemitente</servlet-name>
        <servlet-class>com.pe.plastitex.controller.GuiaRemitente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequerimientoController</servlet-name>
        <servlet-class>com.pe.controller.RequerimientoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuiaremisionclienteController</servlet-name>
        <servlet-class>com.pe.controller.GuiaremisionclienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteitemGRM</servlet-name>
        <servlet-class>com.pe.controller.DeleteitemREQ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteitemGRC</servlet-name>
        <servlet-class>com.pe.controller.DeleteitemGRC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MotivoController</servlet-name>
        <servlet-class>com.pe.controller.MotivoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransportistaController</servlet-name>
        <servlet-class>com.pe.plastitex.controller.TransportistaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehiculoController</servlet-name>
        <servlet-class>com.pe.controller.VehiculoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConductoresController</servlet-name>
        <servlet-class>com.pe.controller.ConductoresController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarcostoproduccionController</servlet-name>
        <servlet-class>com.pe.controller.InsertarcostoproduccionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpresaController</servlet-name>
        <servlet-class>com.pe.controller.EmpresaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacturaBoletaController</servlet-name>
        <servlet-class>com.pe.controller.FacturaventaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteitemFV</servlet-name>
        <servlet-class>com.pe.controller.DeleteitemFV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BoletaventaController</servlet-name>
        <servlet-class>com.pe.controller.BoletaventaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CotizacionventaController</servlet-name>
        <servlet-class>com.pe.controller.CotizacionventaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefCotiaPedidoventaController</servlet-name>
        <servlet-class>com.pe.controller.RefCotiaPedidoventaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidoCarritoController</servlet-name>
        <servlet-class>com.pe.controller.PedidoCarritoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidoventaController</servlet-name>
        <servlet-class>com.pe.controller.PedidoventaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteitemBO</servlet-name>
        <servlet-class>com.pe.controller.DeleteitemBO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefPedidoaFacturaventaController</servlet-name>
        <servlet-class>com.pe.controller.RefPedidoaFacturaventaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteitemCARRITO</servlet-name>
        <servlet-class>com.pe.controller.DeleteitemCARRITO</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerClasificacion</servlet-name>
        <url-pattern>/ControllerClasificacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerdatosModal</servlet-name>
        <url-pattern>/ControllerdatosModal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteController</servlet-name>
        <url-pattern>/ClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoController</servlet-name>
        <url-pattern>/ProductoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionarVentaController</servlet-name>
        <url-pattern>/GestionarVentaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransporteController</servlet-name>
        <url-pattern>/TransporteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacturaventaController</servlet-name>
        <url-pattern>/FacturaventaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarRuc</servlet-name>
        <url-pattern>/ValidarRuc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnidadmedidaController</servlet-name>
        <url-pattern>/UnidadmedidaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriaController</servlet-name>
        <url-pattern>/CategoriaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubcategoriaController</servlet-name>
        <url-pattern>/SubcategoriaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotadeIngresoController</servlet-name>
        <url-pattern>/NotadeIngresoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProveedorController</servlet-name>
        <url-pattern>/ProveedorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotadeSalidaController</servlet-name>
        <url-pattern>/NotadeSalidaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdenCompraController</servlet-name>
        <url-pattern>/OrdenCompraController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefNotadeIngresoController</servlet-name>
        <url-pattern>/RefNotadeIngresoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefRequerimientoaOCController</servlet-name>
        <url-pattern>/RefRequerimientoaOCController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefFacturaCompraController</servlet-name>
        <url-pattern>/RefFacturaCompraController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetallePDFController</servlet-name>
        <url-pattern>/DetallePDFController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteitemOC</servlet-name>
        <url-pattern>/DeleteitemOC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteitemNI</servlet-name>
        <url-pattern>/DeleteitemNI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteitemNS</servlet-name>
        <url-pattern>/DeleteitemNS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteitemREFGR</servlet-name>
        <url-pattern>/DeleteitemREFGR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/UsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpleadoController</servlet-name>
        <url-pattern>/EmpleadoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteitemREFNI</servlet-name>
        <url-pattern>/DeleteitemREFNI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuiaRemitente</servlet-name>
        <url-pattern>/GuiaRemitente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequerimientoController</servlet-name>
        <url-pattern>/RequerimientoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuiaremisionclienteController</servlet-name>
        <url-pattern>/GuiaremisionclienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteitemGRM</servlet-name>
        <url-pattern>/DeleteitemGRM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteitemGRC</servlet-name>
        <url-pattern>/DeleteitemGRC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MotivoController</servlet-name>
        <url-pattern>/MotivoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehiculoController</servlet-name>
        <url-pattern>/VehiculoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConductoresController</servlet-name>
        <url-pattern>/ConductoresController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarcostoproduccionController</servlet-name>
        <url-pattern>/InsertarcostoproduccionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpresaController</servlet-name>
        <url-pattern>/EmpresaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacturaBoletaController</servlet-name>
        <url-pattern>/FacturaBoletaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteitemFV</servlet-name>
        <url-pattern>/DeleteitemFV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BoletaventaController</servlet-name>
        <url-pattern>/BoletaventaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CotizacionventaController</servlet-name>
        <url-pattern>/CotizacionventaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefCotiaPedidoventaController</servlet-name>
        <url-pattern>/RefCotiaPedidoventaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidoCarritoController</servlet-name>
        <url-pattern>/PedidoCarritoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidoventaController</servlet-name>
        <url-pattern>/PedidoventaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteitemBO</servlet-name>
        <url-pattern>/DeleteitemBO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefPedidoaFacturaventaController</servlet-name>
        <url-pattern>/RefPedidoaFacturaventaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteitemCARRITO</servlet-name>
        <url-pattern>/DeleteitemCARRITO</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
